<template>
  <h1>Es el Home</h1>
  <CreateProductsComponent />
</template>

<script>
import CreateProductsComponent from "@/components/CreateProductsComponent.vue";

export default {
  name: "App",
  components: {
    CreateProductsComponent,
  },
};
</script>
