<template>
    <h1>Es el Home</h1>
    <MostrarProductos />
</template>

<script>
import MostrarProductos from './../components/MostrarProductos.vue'

export default {
  name: 'App',
  components: {
    MostrarProductos
  }
}
</script>

<style>

</style>
