<template>
    <h1>Es el Home</h1>
    <ProductoPorId />
</template>

<script>
import ProductoPorId from '@/components/ProductoPorId.vue'

export default {
  name: 'App',
  components: {
    ProductoPorId 
  }
}
</script>

<style>

</style>