<template>
  <div class="info__cards">
    <h2>Discover NEW Arrivals</h2>
    <h5>Look at our offers!!</h5>
  </div>
  <section class="cards">
    <article
      class="cards__card"
      v-for="product in respuestaApi"
      :key="product.id"
    >
      <router-link :to="`ProductoPorId/${product.id}`">
        <div class="cards__card__image">
          <img v-bind:src="product.image" alt="Imagen de producto" />
        </div>
        <div class="cards__card__info">
          <h3>{{ product.title }}</h3>
          <h4>$ {{ product.price }}</h4>
        </div>
      </router-link>
    </article>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "MostrarProductos",
  category: "",
  data() {
    return {
      respuestaApi: "",
    };
  },
  methods: {
    getProducts() {
      axios
        .get(`https://fakestoreapi.com/products?limit=8`)
        .then((response) => {
          this.respuestaApi = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getProductByCategory(category) {
      axios
        .get(`https://fakestoreapi.com/products/category/${category}`)
        .then((response) => {
          this.respuestaApi = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    count() {
      this.contador++;
    },
  },

  mounted() {
    this.getProducts();
  },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}
.info__cards {
  margin-top: 42px;
  margin-bottom: 48px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 48px;
}

.cards__card {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
  width: 295px;
  min-height: 412px;
  height: fit-content;
}

.cards__card:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.cards__card__image {
  width: auto;
  height: 329px;
  overflow: hidden;
}

.cards__card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cards__card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3 {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 16px 0 0 0;
}

h4 {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 6px 0 2px 0;
}
</style>
